.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 10px;
}

.dialogItems {
}

.dialog {
    margin-bottom: 5px;
    background-color: lavender;
    border-radius: 7px;
    text-align: center;
    padding: 0 10px;
}

.dialog a {
    color: #26abfc;
    text-decoration: none;
}

.dialog a.active {
    color: #000000;
}

.messages {
    padding-left: 20px;
}

.message {

}