.userForm {
    background-color: #c9c9c9;
    border: 1px solid #000;
    width: 100%;
    border-radius: 5px;
    margin: 0 auto;
}

.userInfoBlocks {
    background-color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin-bottom: 10px;
}

.contactName {
    line-height: 0.8;
    margin-bottom: 3px;
}

.userInfoBlock {
    margin-bottom: 10px;
    padding: 5px;
    background-color: lightgray;
    border-radius: 5px;
}

.userInfoBlock:last-child {
    margin-bottom: 0;
}

.userInfoBlock input,
.userInfoBlock textarea {
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    border: 1px transparent solid;
    transition: all 0.2s;
}

.userInfoBlock input:hover,
.userInfoBlock textarea:hover,
.userInfoBlock input:focus,
.userInfoBlock textarea:focus {
    border: 1px #3e74d3 solid;
}

.userInfoBlock .checkBox {
    margin-left: 5px;
    width: 20px;
}

.btnChange {
    text-align: center;
    margin-bottom: 10px;
}

.btnChange button {
    padding: 4px 20px 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s;
}

.btnChange button:hover {
    background-color: #000;
    color: white;
}