.usersWrap {
    padding: 10px 10px 0;
    height: 100%;
    text-align: center;
}

.users {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/*.getUsers {*/
/*    display: block;*/
/*    padding: 5px 15px;*/
/*    margin: 0 auto;*/
/*    background-color: #71bfef;*/
/*    color: white;*/
/*    border-radius: 7px;*/
/*    border: none;*/
/*    cursor: pointer;*/
/*    box-shadow: 2px 2px 5px 0 rgba(0, 144, 255, 0.5);*/
/*}*/