.btnNumbersPage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 10px;
}

.btnNumbersPage span {
    font-size: 14px;
    display: inline-flex;
    padding: 0 10px;
    margin-right: 5px;
    border-radius: 4px;
    justify-content: center;
    background-color: #bec0ca;
    cursor: pointer;
}

.btnArrow:first-child {
    margin-right: 5px;
}

.btnNumbersPage span.selectedPage {
    font-weight: bold;
    color: black;
    background-color: #acd7e5;
}

.btnArrow {
    font-size: 14px;
    font-style: italic;
    color: white;
    background-color: rgba(61, 61, 61, 0.5);
    cursor: pointer;
}

.left {
    border-radius: 0 5px 5px 0;
    padding: 0 5px 1px 10px;
    clip-path:
            polygon(
                    0% 50%,     /* верхняя левая */
                    25% 0%,     /* верхняя левая */
                    100% 0%,    /* верхняя правая */
                    100% 0%,   /* верхняя правая */
                    100% 100%,  /* нижняя правая */
                    100% 100%,  /* нижняя правая */
                    20% 100%,   /* нижняя левая */
                    25% 100%      /* нижняя левая */
            );
}

.right {
    border-radius: 5px 0 0 5px;
    padding: 0 10px 1px 5px;
    clip-path:
            polygon(
                    0% 0%,     /* верхняя левая */
                    0% 0%,     /* верхняя левая */
                    75% 0%,    /* верхняя правая */
                    100% 50%,   /* верхняя правая */
                    75% 100%,  /* нижняя правая */
                    100% 100%,  /* нижняя правая */
                    0% 100%,   /* нижняя левая */
                    0% 100%      /* нижняя левая */
            );
}

.btnArrow:hover {
    background-color: #000000;
}

