.btnNumbersPage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 10px;
}

.btnNumbersPage span {
    display: inline-flex;
    width: 40px;
    padding: 2px 0;
    margin-right: 5px;
    border-radius: 4px;
    justify-content: center;
    background-color: #bec0ca;
    cursor: pointer;
}

.btnArrow:first-child {
    margin-right: 5px;
}

.btnNumbersPage span.selectedPage {
    font-weight: bold;
    color: black;
    background-color: #acd7e5;
}

.btnArrow {
    font-size: 14px;
    font-style: italic;
    height: 25px;
    padding: 0 5px 1px;
    border-radius: 15px;
    color: white;
    background-color: #000000;
    cursor: pointer;
}

