.posts {
  padding: 10px;
}

.add {
  display: flex;
  align-items: center;
}

.add button {
  background-color: rgba(127, 255, 212, 0.514);
  border: 0;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
}