.posts {
  padding: 10px;
}

.add {
  /*display: flex;*/
  /*align-items: center;*/
  background-color: #fff;
  /*display: inline-block;*/
  padding: 15px;
  border-radius: 15px;
}

.textarea {
  width: 100%;
}

.textareaRed {
  border-color: #fd8a8a;
}


.textarea:focus {
  border: 1px #2badda solid;
  border-radius: 3px;
  outline: none;
}

.errorText {
  color: red;
}

.add button {
  background-color: rgba(127, 255, 212, 0.514);
  border: 0;
  border-radius: 5px;
  padding: 5px 10px;
  /*margin-left: 10px;*/
  cursor: pointer;
}