.user {
    display: flex;
    flex-direction: column;
    max-width: 100px;
    min-width: 160px;
    width: 33%;
    padding: 5px;
    margin: 0 5px 10px 5px;
    border-radius: 10px;
    background-color: #e5e7f6;
}

.userFollow {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #bfc1cb;
    border-radius: 7px;
    padding: 3px;
}

.avatar {
    width: 90%;
    height: 0;
    padding-bottom: 90%;
    margin-bottom: 3px;
    border-radius: 50%;
}

.avatar:hover {
    box-shadow: 0 0 0 2px teal;
}

.avatar img {
    width: 100%;
    border-radius: 50%;
}

.userFollow button {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 5px 0;
    border-radius: 4px;
    cursor: pointer;
}

.userFollow button:hover {
    border: 2px solid teal;
    padding: 3px 0;
}

.btnFollow {
    background-color: #acd7e5;
}

.btnUnfollow {
    background-color: #fdfdfe;
}

.description {
    width: 100%;
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.description span {
    color: white;
    padding: 3px;
    border-radius: 5px;
    background-color: #c76f6f;
}