.statusWrap {
    color: black;
    background-color: #fff;
    margin: 5px 10px 0;
    padding: 3px;
    border-radius: 5px;
}

.statusSpanWrap {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 5px;
    font-size: 15px;
}

.statusSpanWrap span {
    font-family: 'Tahoma', sans-serif;
}

.statusSpanWrap p {
    display: block;
    width: 100%;
    padding: 0 8px;
}

.statusInputWrap {
    width: 100%;
    height: 27px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    font-size: 15px;
}

.statusInputWrap input {
    width: 100%;
    height: 100%;
    margin: 0 5px;
    padding-left: 3px;
    border-radius: 3px;
    background-color: rgba(17, 34, 51, 0.19);
    font-size: 15px;
    font-family: 'Tahoma', sans-serif;
}