.statusWrap {
    color: black;
    background-color: #fff;
    margin: 5px 10px 0;
    padding: 3px;
    border-radius: 5px;
}

.statusSpanWrap {
    display: flex;
    width: 100%;
}

.statusSpanWrap span {
    display: block;
    width: 100%;
    padding: 0 5px;
}

.statusInputWrap {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.statusInputWrap input {
    width: 100%;
    height: auto;
    margin-left: 5px;
    padding: 0 3px;
    border-radius: 3px;
    background-color: rgba(17, 34, 51, 0.19);
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}