.header {
  grid-area: header;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.header img {
  height: 70%;
}

.login a {
  color: white;
  text-decoration: none;
}