.header {
    grid-area: header;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.header img {
    height: 70%;
}

.wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.loginWrap {
    display: flex;
}

.block {
    cursor: pointer;
    background-color: #000;
    padding: 3px 10px;
    border-radius: 7px;
    color: white;
    font-size: 14px;
    margin-left: 10px;
    text-decoration: none;
}

.loginName {
    background-color: #fff;
    padding: 3px 10px;
    border-radius: 7px;
    color: #000;
    font-size: 14px;
    text-decoration: none;
    font-family: Arial, serif;
}

.block:hover {
    box-shadow: 0 0 5px 0 rgb(49, 51, 53);
}