.headerWrapper {
    grid-area: header;
    width: 800px;
    height: 100%;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    width: 100vw;
    height: 60px;
    background-color: #efefef;
    border-bottom: 1px solid #d3d3d3;
}

.projectName {
    height: 100%;
    display: flex;
    align-items: center;
}

.projectName img {
    height: 90%;
}

.projectName p {
    font-family: "Yu Gothic Medium", serif;
    font-style: italic;
    font-size: 24px;
    margin-left: 20px;
    padding: 0 12px 0 8px;
    background-color: #fff;
    border-radius: 5px;
}

.loginWrap {
    height: 100%;
    display: flex;
    align-items: center;
}

.loginName {
    background-color: #fff;
    padding: 3px 10px;
    border-radius: 5px;
    font-size: 16px;
    font-family: Tahoma, serif;
}

.btnLogout {
    cursor: pointer;
    background-color: #000;
    padding: 3px 10px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-family: Tahoma, serif;
    margin-left: 10px;
    text-decoration: none;
    transition: all linear 0.15s;
}

.btnLogout:hover {
    box-shadow: 0 0 5px 0 rgb(49, 51, 53);
}