.nav {
  grid-area: nav;
  background-color: lightblue;
  padding: 10px;
}

nav a {
  display: block;
  text-decoration: none;
  margin-bottom: 5px;
  color: aliceblue;
}

.active {
  color: #000;
}

