.nav {
  display: flex;
  flex-direction: column;
  width: 150px;
  height: max-content;
  padding: 5px;
  border: 1px solid teal;
  border-radius: 5px;
  background-color: #ffffff;
}

.nav a {
  padding: 3px 10px 5px;
  border-radius: 4px;
  color: teal;
  font-size: 16px;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all linear 0.1s;
}

.nav a:last-child {

}

.nav a:hover {
  background-color: rgba(0, 128, 128, 0.2);
}

.active {
  color: #000;
}

