.profileInfo {

}

.wallpaper img {
    width: 100%;
}

.aboutMe {
    display: flex;
    align-items: flex-start;
    padding: 5px;
    margin: 5px 10px;
    border-radius: 5px;
    color: black;
    background-color: #fff;
}

.profilePhoto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5px;
    flex: 0 0 100px;
}

.profilePhoto img{
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

.profileInfoWrap {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.customInputFile {
    background-color: lightgray;
    padding: 0 5px 1px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
    margin-top: 5px;
    transition: all 0.3s;
}

.customInputFile:hover {
    background-color: #000000;
    color: white;
}

.aboutMeInfo {
    flex: 1 1 auto;
}

.myInfo {
    display: inline-flex;
    margin: 3px;
    padding: 0 5px 2px;
    line-height: 1;
    border-radius: 8px;
    background-color: #acd7e5;
}

.myInfoRed {
    display: inline-flex;
    margin: 3px;
    padding: 0 5px 2px;
    line-height: 1;
    border-radius: 8px;
    background-color: #ff8b8b;
}

.myInfo:last-child {
    margin-bottom: 0;
}

.socialIcons {
    height: 30px;
}

.link {
    display: inline-flex;
    margin-left: 3px;
    height: 100%;
}

.link img {
    display: block;
    width: 100%;
    height: 100%;
}

/*------------------------------STATUS------------------------------*/

.statusWrap{
    color: black;
    background-color: #fff;
    margin: 0 10px;
    padding: 3px;
    border-radius: 5px;
}

.statusSpanWrap {
    display: flex;
    width: 100%;
}

.statusSpanWrap span {
    display: block;
    width: 100%;
    padding: 0 5px;
}

.statusInputWrap {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.statusInputWrap input {
    width: 100%;
    height: auto;
    margin-left: 5px;
    padding: 0 3px;
    border-radius: 3px;
    background-color: rgba(17, 34, 51, 0.19);
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.btnChange {
    font-size: 12px;
    border-radius: 5px;
    padding: 5px 5px;
    cursor: pointer;
    flex: 0 0 80px;
    transition: all 0.3s;
}

.btnChange:hover {
    background-color: #000;
    color: white;
}