.profileInfo {

}

.wallpaper img {
    width: 100%;
}

.aboutMe {
    display: flex;
    align-items: flex-start;
    padding: 5px;
    margin: 5px 10px;
    border-radius: 5px;
    color: black;
    background-color: #fff;
}

.profileFoto {
    height: 100px;
    margin-right: 5px;
    flex: 0 0 100px;
}

.profileFoto img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.aboutMeInfo {
    flex: 1 1 auto;
}

.myInfo {
    display: inline-flex;
    margin: 3px;
    padding: 0 5px 3px;
    line-height: 1;
    border-radius: 8px;
    background-color: #acd7e5;
}

.myInfoRed {

    display: inline-flex;
    margin: 3px;
    padding: 0 5px 3px;
    line-height: 1;
    border-radius: 8px;
    background-color: #ff8b8b;
}

.myInfo:last-child {
    margin-bottom: 0;
}

.socialIcons {
    height: 40px;
}

.link {
    display: inline-flex;
    margin-right: 3px;
    width: 40px;
    height: 40px;
}

.link img {
    display: block;
    width: 100%;
    height: 100%;
}

/*------------------------------STATUS------------------------------*/

.statusWrap{
    color: black;
    background-color: #fff;
    margin: 0 10px;
    padding: 3px;
    border-radius: 5px;
}

.statusSpanWrap {
    width: 100%;
}

.statusSpanWrap span {
    display: block;
    width: 100%;
    padding: 0 5px;
}

.statusInputWrap {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.statusInputWrap input {
    width: 100%;
    margin-left: 5px;
    padding: 0 3px;
    border-radius: 3px;
    background-color: rgba(17, 34, 51, 0.19);
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}