.aboutMe {
    display: flex;
    gap: 10px;
    margin: 10px 10px 0;
    border-radius: 5px;
}

.profilePhoto {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 30%;
    height: 30%;
    border-radius: 15px;
    overflow: hidden;
}

.profilePhoto img {
    width: 100%;
}

.customInputFile {
    width: 100%;
    text-align: center;
    padding: 5px 0;
    background-color: #7295da;
    cursor: pointer;
    transition: all 0.3s;
}

.customInputFile:hover {
    background-color: #577fd9;
}

.profileInfoWrap {
    display: flex;
    flex: 1 1 70%;
    font-size: 16px;
}