.aboutMeInfo {
    flex: 1 1 auto;
}

.myInfo {
    display: inline-flex;
    margin: 3px;
    padding: 0 5px 2px;
    line-height: 1;
    border-radius: 8px;
    background-color: #acd7e5;
}

.myInfo:last-child {
    margin-bottom: 0;
}

.myInfoRed {
    display: inline-flex;
    margin: 3px;
    padding: 0 5px 2px;
    line-height: 1;
    border-radius: 8px;
    background-color: #ff8b8b;
}