.userInfo {
    flex: 1 1 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 16px;
}

.infoItem {
    margin-bottom: 5px;
    padding: 5px 10px 6px;
    line-height: 1;
    border-radius: 8px;
    background-color: #acd7e5;
}

.infoItem:last-child {
    margin-bottom: 0;
}

.infoItemRed {
    background-color: #ff8b8b;
}

.changeInfoBtn {
    margin-top: 5px;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: #7294d9;
    cursor: pointer;
}

.changeInfoBtn:hover {
    background-color: #577fd9;
}