.socialWrap {
    text-align: center;
    border: 3px solid #7294d9;
    border-radius: 10px;
    overflow: hidden;
    background-color: #7294d9;
}

.socialIcons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;
    max-height: 45px;
    padding: 5px 10px;
}

.link {
    display: inline-flex;
    margin-right: 10px;
    height: 30px;
    width: 30px;
}

.link:last-child {
    margin-right: 0;
}

.link img {
    display: block;
    width: 100%;
    height: 100%;
}