.post {
  position: relative;
  padding-top: 10px;
  display: flex;
  align-items: center;
}

.post img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.post span {
  margin-left: 10px;
}

.like {
  color: #fff;
  background-color: cadetblue;
  position: absolute;
  padding: 0 7px;
  right: 30px;
  border-radius: 4px;
  cursor: pointer;
}