.userForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #eeeeee;
}

.userInfoBlock {
    margin-bottom: 5px;
}

.contactName {
    line-height: 1.3em;
    padding-left: 4px;
}

.userInfoBlock input,
.userInfoBlock textarea {
    padding: 3px;
    border-radius: 5px;
    width: 100%;
    border: 1px transparent solid;
    transition: all 0.2s;
}

.userInfoBlock span {
    padding-left: 3px;
}

.userInfoBlock input:hover,
.userInfoBlock textarea:hover,
.userInfoBlock input:focus,
.userInfoBlock textarea:focus {
    border: 1px #3e74d3 solid;
}

.userInfoBlock .checkBox {
    margin-left: 5px;
    width: 20px;
}

.buttonsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.buttonsContainer button {
    text-align: center;
    min-width: 80px;
    padding: 4px 20px 5px;
    border: 1px solid lightslategrey;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.3s;
    cursor: pointer;
}

.buttonsContainer button:hover {
    background-color: #000;
    color: white;
}