#root {

}

.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: Tahoma, serif;
  font-size: 14px;
}

.app-wrapper {
  display: flex;
  gap: 5px;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}

.app-wrapper-content {
  width: 80%;
  border: 1px solid teal;
  border-radius: 5px;
  background-color: rgba(0, 128, 128, 0.1);
  color: black;
  min-height: calc(100vh - 80px);
}