.dialogSection {
	display: flex;
}

.dialogs {
	display: grid;
	grid-template-columns: 2fr 10fr;
	height: 100%;
	box-sizing: border-box;
}

.dialogItems {
	min-width: 100px;
	background-color: rgba(248, 255, 255, 0.34);
	padding: 10px;
}

.dialog {
	display: flex;
	align-items: center;
	margin-bottom: 5px;
	background-color: lavender;
	border-radius: 7px;
	padding: 3px 3px;
}

.messages {
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.message {
	display: flex;
	margin-bottom: 10px;
}

.avatar {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	margin-right: 3px;
}

.dialog a {
	width: 67%;
	text-align: center;
	color: #2b2b2b;
	text-decoration: none;
}

.dialog a.active {
	color: #000000;
	background-color: rgb(173 216 230);
	border-radius: 5px;
}

.error {
	color: red;
}

.add button {
	width: 40px;
	padding: 5px;
}

.textarea {
	padding: 2px 3px;
	width: 100%;
}

.textareaValid {
	border: 1px #2badda solid;
}

.textarea:focus {
	border: 1px #2badda solid;
	border-radius: 3px;
	outline: none;
}
