.dialogs {
    display: grid;
    grid-template-columns: 1fr 10fr;
    padding: 10px;
}

.dialogItems {
    min-width: 100px;
}

.dialog {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    background-color: lavender;
    border-radius: 7px;
    padding: 3px 3px;
}

.avatar {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 3px;
}

.dialog a {
    color: #26abfc;
    text-decoration: none;
}

.dialog a.active {
    color: #000000;
}

.messages {
    padding-left: 10px;
}

.message {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}