.dialogsContainer {
	display: flex;
	height: 100%;
	width: 100%;
}

.dialogs {
	width: 25%;
	padding: 5px;
	border-right: 1px solid #d3d3d3;
	border-radius: 5px 0 0 5px;
	background-color: #efefef;
}

.dialog {
	display: flex;
	align-items: center;
	margin-bottom: 5px;
	padding: 5px;
	border: 1px solid #d3d3d3;
	border-radius: 5px;
	cursor: pointer;
	background-color: lavender;
	transition: all linear 0.1s;
}

.dialog:last-child {
	margin-bottom: 0;
}

.dialog:hover {
	background-color: rgba(1, 131, 131, 0.6);
}

.avatar {
	width: 35px;
	height: 35px;
	border-radius: 50%;
}

.dialog a {
	margin-left: 10px;
	color: black;
	text-decoration: none;
}

.messages {
	width: 75%;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.messageWrap {
	display: flex;
	margin-bottom: 10px;
}

.msgAvatarWrap {

}

.message {
	margin-left: 10px;
}

.newMsgForm {
	display: flex;
	align-items: center;
}

.textarea {
	width: 100%;
	min-height: 50px;
	padding: 3px;
	border: 1px solid #9f9f9f;
	border-radius: 8px;
}

.newMsgForm button {
	width: 40px;
	margin-left: 5px;
	padding: 5px;
	border-radius: 5px;
	color: black;
	background-color: #d5bce3;
	transition: all linear 0.1s;
}

.newMsgForm button:hover {
	color: black;
	background-color: #a070b9;
}

/*.textareaValid {*/
/*	border: 1px #2badda solid;*/
/*}*/

/*.textarea:focus {*/
/*	border: 1px #2badda solid;*/
/*	border-radius: 3px;*/
/*	outline: none;*/
/*}*/
