.myButton {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 75px;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 14px;
    font-family: Tahoma, serif;
    background-color: rgba(0, 128, 128, 0.4);
    cursor: pointer;
    transition: all 0.2s;
}

.myButton:hover {
    background-color: rgba(0, 128, 128, 0.8);;
    color: white;
}